@import "../../../styles/variables";

.ActionButtons {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    
    svg {
        font-size: 2.5rem;

        &:hover {
            cursor: pointer;
        }
    }
}