// Colors
$clr-primary-dark: #026aa7;
$clr-primary: #f05454;
$clr-primary-light: #f1d4d4;

$clr-light: #fafbfc;
$clr-dark: #000000;

// Transitions
$trn-long: .5s all ease-in-out;
$trn-short: .3s all ease;

// Breakpoints
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 31.25em; // 500px

// Fonts
$ff-primary: 'Roboto', sans-serif;

// Others
$border-radius: 3px;