.color-green {
background-color: #61bd4f;
}

.color-yellow {
background-color: #f6c065;
}

.color-orange {
background-color: #ff9f1a;
}

.color-red {
background-color: #eb5a46;
}

.color-purple {
background-color: #c377e0;
}

.color-blue {
background-color: #0079bf;
}

.color-light-blue {
background-color: #00c2e0;
}

.color-aqua {
background-color: #51e898;
}

.color-pink {
background-color: #ff78cb;
}

.color-black {
background-color: #344563;
}

.color-no-color {
    background-color: #b3bac5;
}
