workspace.code-workspace
node_modules
.env

# Backend Ignores
/backend/uploaded/*
/backend/nodemon.json
/backend/.gitignore

# Frontend Ignores
# dependencies
/my-trello/.pnp
/my-trello/.pnp.js

# testing
/my-trello/coverage

# production
/my-trello/build
/my-trello/netlify.toml

# misc
/my-trello/.DS_Store
/my-trello/.env*

/my-trello/npm-debug.log*
/my-trello/yarn-debug.log*
/my-trello/yarn-error.log*
/my-trello/.eslintcache