workspace.code-workspace
node_modules
.env

# Backend Ignores
/backend/uploaded/*

# Frontend Ignores
# dependencies
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/my-trello/.DS_Store
/my-trello/.env.local
/my-trello/.env.development.local
/my-trello/.env.test.local
/my-trello/.env.production.local

/my-trello/npm-debug.log*
/my-trello/yarn-debug.log*
/my-trello/yarn-error.log*
/my-trello/.eslintcache