@import "../../../../../styles/variables";

.TagHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;

    h2 {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    svg {
        font-size: 2rem;
    }

    svg:hover {
        cursor: pointer;
    }
}

.ColorsWrapper {
    margin-top: 2rem;

    p {
        font-size: 1.6rem;
    }
}

.Colors {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(5rem, 1fr));
    gap: 1rem;

    margin-top: 1rem;

    span {
        height: 3rem;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    span:hover {
        cursor: pointer;
    }

    svg {
        font-size: 2rem;
        color: $clr-grey-1;
    }
}

.ActionButtons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: 2rem;

    button {
        margin-top: 0;
        margin-left: 1rem;
        width: 30%;
    }

    @media only screen and(max-width: $bp-medium) {
        flex-direction: column;

        button {
            width: 100%;
            margin-left: 0;
        }

        button:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}