@import "../../../../../styles/variables";

.TagHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;

    h2 {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    svg {
        font-size: 2rem;
    }

    svg:hover {
        cursor: pointer;
    }
}

.Colors {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(5rem, 1fr));
    gap: 1rem;

    margin-top: 1rem;

    span {
        height: 3rem;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    span:hover {
        cursor: pointer;
    }

    svg {
        font-size: 2rem;
        color: $clr-grey-1;
    }
}

.ActionButtons {
    display: flex;
    justify-content: space-between;
}