@import "../../../../../styles/variables";

.ProgressBarWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    p {
        font-size: 1.4rem;
        margin-right: 2rem;
    }
}

.ProgressBar {
    background-color: #ddd;
    border-radius: $border-radius;
    height: 1rem;
    width: 100%;
    
    span {
        border-radius: $border-radius;
        height: 100%;
        width: 100%;
        display: block;
        transform-origin: left;
        transition: $trn-short;
    }
}

.DeleteButton {
    color: $clr-secondary-5;
    transition: $trn-short;
    margin-left: 1rem;

    &:hover {
        color: $clr-secondary-7;
    }
}

.ActionButtons {
    input {
        font-weight: normal;
    }
}