@import "../../../../../styles/variables";

.Tags {
    list-style: none;
}

.Tag {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    span {
        display: flex;
        justify-content: space-between;
        flex: 1;
        color: $clr-grey-1;
        font-weight: bold;
        font-size: 1.4rem;
        padding: .75rem;
        border-radius: $border-radius;
        text-transform: capitalize;
    }

    span svg {
        font-size: 1.6rem;
        margin-left: 0;
    }

    span:hover,
    svg:hover {
        cursor: pointer;
    }

    svg {
        font-size: 2.5rem;
        margin-left: 1rem;
    }
}

.Action {
    button {
        width: 100%;
    }
}