@import "../../../styles/variables";

.List {
    min-width: 28rem;
    max-width: 28rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    max-height: 100%;
}

.ListHeader {
    display: flex;
    align-items: center;

    svg {
        margin-left: 1rem;
        font-size: 2.5rem;
        color: $clr-secondary-5;
        transition: $trn-short;
        cursor: pointer;
    }

    svg:hover {
        color: $clr-secondary-8;
    }
}

.ListContent {
    background-color: $clr-grey-2;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    border-radius: $border-radius;
    max-height: 100%;
    overflow-y: auto;
}

.Cards {
    margin-top: .5rem;
}

.ListAction {
    button {
        width: 100%;
    }
}

.NewCard {
    textarea {
        display: block;
        width: 100%;
        padding: .5rem;
        font-family: $ff-primary;
        resize: none;
    }
}