@import "../../../styles/variables";

.CardList {
    min-width: 28rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    max-height: 100%;
}

.CardContent {
    background-color: $clr-grey-2;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    border-radius: $border-radius;
    max-height: 100%;
    overflow-y: auto;
}

.Cards {
    margin-top: .5rem;
}

.CardAction {
    button {
        width: 100%;
    }
}

.NewCard {
    textarea {
        display: block;
        width: 100%;
        padding: .5rem;
        font-family: $ff-primary;
        resize: none;
    }
}