@import "../../../styles/variables";

.Actions {
    & > * {
        margin-bottom: 4rem;
    }
    
    h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        color: $clr-grey-8;
    }

    button {
        padding: 1rem;
        margin-bottom: 1rem;
        background-color: $clr-grey-3;
        font-size: 1.4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: $border-radius;
        width: 100%;

        svg {
            font-size: 2rem;
            margin-right: 1rem;
        }

        &:hover {
            background-color: $clr-grey-4;
        }
    }
}