@import "../../styles/variables";

.BoardsContainer {
    width: 90vw;
    max-width: 120rem;
    padding: 2rem;
    
    @media only screen and(max-width: $bp-small) {
        padding: 2rem 1rem;
    }
}

.BoardTitle {
    h2 {
        font-size: 2rem;
        display: flex;
        align-items: center;
        font-weight: bold;
        letter-spacing: $letter-spacing-sma;
        color: $clr-grey-10;
        text-transform: capitalize;
    }

    svg {
        font-size: 3rem;
        margin-right: 1rem;
        color: $clr-grey-8;
    }
}

.Boards {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        display: inline-block;
        border-radius: $border-radius;
        height: 9rem;
        width: 20rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        letter-spacing: $letter-spacing-sma;
    }

    @media only screen and(max-width: $bp-small) {
        justify-content: space-between;

        li {
            width: 48%;
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }
}

.BoardItem {
    background-color: $clr-grey-8;
    transition: $trn-short;

    a:link,
    a:visited {
        height: 100%;
        width: 100%;
        display: block;
        padding: 1rem 1rem 0;
        text-decoration: none;
        color: $clr-grey-1;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &:hover {
        filter: brightness(95%);
    }
}

.CreateBoard {
    background-color: $clr-grey-2;
    transition: $trn-short;

    &:hover {
        background-color: $clr-grey-3;
        cursor: pointer;
    }

    p {
        color: $clr-grey-10;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: normal;
        padding: 0;
    }

    &:active p {
        color: $clr-primary-5;
    }
}