@import "../../../styles/variables";

.Spinner {
    margin: 0 auto;
    width: 8rem;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
}

.Spinner>div {
    background-color: $clr-grey-1;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin-right: 2px;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.SpinnerPrimary > div {
    background-color: $clr-primary-5 !important;
}

.SpinnerSecondary > div {
    background-color: $clr-secondary-5 !important;
}

.Spinner .Rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.Spinner .Rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.Spinner .Rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.Spinner .Rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}